{
    "transports": [
        {
            "topics": "security",
            "type": "console",
            "filter": "private=true"
        },
        {
            "topics": "security",
            "type": "file",
            "filename": "security.log"
        },
        {
            "topics": "security",
            "type": "stream",
            "filename": "security-2.log"
        },
        {
            "topics": ["*", "-security", "topiclogger"],
            "type": "console"
        },
        {
            "topics": ["*", "-development"],
            "type": "DailyRotateFile",
            "level": "info",
            "filename": "application-%DATE%.log",
            "datePattern": "YYYY-MM-DD-HH",
            "zippedArchive": true,
            "maxSize": "20m",
            "maxFiles": "14d"
        }
    ]
}